In [15]:
#Approach 2: Using SciPy Library

#importing the library for completion of task
import numpy as np
import pandas as pd
import scipy.stats as stats

#taking the number of records and data of records from user
#store the data into list
n = int(input("For How Many records do you want to calculate z-score normalization?: "))
values = [float(x) for x in input().split(',')] 

#converting list into numpy array object
val_array = np.array(values)

#using Scipy.stats function's zscore calculate the z-score
normalized_value = stats.zscore(val_array,axis=0,ddof=0)

#creating the dataframe and displaying the result
dataf_1 = pd.DataFrame(normalized_value,val_array)
dataf_1.columns = ['Normalized Values']
print(dataf_1)

For How Many records do you want to calculate z-score normalization?: 27
13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25, 30, 33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70

      Normalized Values
13.0          -1.335646
15.0          -1.178168
16.0          -1.099429
16.0          -1.099429
19.0          -0.863212
20.0          -0.784473
20.0          -0.784473
21.0          -0.705734
22.0          -0.626995
22.0          -0.626995
25.0          -0.390779
25.0          -0.390779
25.0          -0.390779
25.0          -0.390779
30.0           0.002916
33.0           0.239133
33.0           0.239133
35.0           0.396611
35.0           0.396611
35.0           0.396611
35.0           0.396611
36.0           0.475350
40.0           0.790306
45.0           1.184001
46.0           1.262740
52.0           1.735173
70.0           3.152474

In [16]:
#Approach 1: Using Conventional Methods

#importing the libraries
import pandas as pd

#defining the Z-score function as per our requirement
def z_score(values):

  #taking the mean of list generated by user input
  mean = sum(values) / len(values)
  
  #calculating the difference
  differences = [(value - mean)**2 for value in values]
  
  #calculating the sum of difference and S.D
  sum_of_differences = sum(differences)
  standard_deviation = (sum_of_differences / (len(values) - 1)) ** 0.5
  
  #calculating Z-score values for each value from input
  zscores = [(value - mean) / standard_deviation for value in values]
  return zscores
             

#driver code for implementation
n = int(input("For How Many records do you want to calculate z-score normalization?: "))

values = [float(x) for x in input().split(',')] 
result = z_score(values)

dataf_1 = pd.DataFrame(result,values)
dataf_1.columns = ['Normalized Values']
print(dataf_1)

For How Many records do you want to calculate z-score normalization?: 27
13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25, 30, 33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70

      Normalized Values
13.0          -1.310678
15.0          -1.156144
16.0          -1.078877
16.0          -1.078877
19.0          -0.847076
20.0          -0.769809
20.0          -0.769809
21.0          -0.692542
22.0          -0.615275
22.0          -0.615275
25.0          -0.383474
25.0          -0.383474
25.0          -0.383474
25.0          -0.383474
30.0           0.002862
33.0           0.234663
33.0           0.234663
35.0           0.389197
35.0           0.389197
35.0           0.389197
35.0           0.389197
36.0           0.466464
40.0           0.775532
45.0           1.161868
46.0           1.239135
52.0           1.702737
70.0           3.093545